body {
    background-color: rgb(220, 219, 220);
}


.container {
    display: flex; justify-content: center;
   
    
}




.vertical {
    color:rgb(107, 107, 238);
    font-size: 50px;
    writing-mode: vertical-lr;
}


.div {
    margin: 0 auto;
    

}

header {
    

}

li {
    border: 4px solid rgb(238, 238, 32);
 
}

a {
    font-size: 25px;
}

ul {
    border: 4px solid black;
   

}  

.nav-list {
   
display: flex;
gap: 1rem;
margin: 0;
padding: 0;
list-style: none;
}

.nav-list li {
    flex-grow: 1;
    
}

#Bible {
    display: flex;
    list-style: none;
    justify-content:space-evenly;
    gap: 


}

#Jes {
    color: blue;
    margin-top: 50px;
}

::first-letter {
    color: red;
    font-size: 45px;
}

#theBible {
    border: 2px solid black;
    background: rgb(59, 180, 59);
    margin-bottom: 300px;
    

}

li {
    writing-mode:vertical-lr;
}

#mat {
    box-shadow: 5px 5px 10px
}

#eph {
    box-shadow: -5px -5px 10px   
}

#isa {
    box-shadow: 1px 1px 10px   
}

li:hover {
    background: purple;
}

.Jesus {
    border: 4px solid black;
    border-radius: 8px;
    padding: 12px;
margin-bottom: 3rem;
}

a {
    display:flex;
    justify-content: center;
    box-shadow: 3px 3px 10px;
    flex-shrink:0;
    flex-wrap: wrap;
}


.bigdiv {
    border: 2px solid ;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 500px;
    display: flex;
    justify-content: center
   
    }

    .bigdiv >div {
        background-color:rgb(86, 128, 227);
        border: 2px solid
    }


    h3 {
        font-size: 100%;
        color: black;
        margin: 50%
    }

    .phone { 
        
      
      background-image: url(jesus-image-test.png);
      height:1920px;
      margin-bottom: 300px;
      background-repeat:no-repeat;
      border: 2px solid black;
      padding: 100px;
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
      background-size: contain;

    }

